/* ここからロード */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  background: #000;
  width: 100vw;
  height: 100vh;
  z-index: 9999
}

#loading p {
  display: table-cell;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  animation: loading 5s infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*-------  ここからheader  --------*/
/* hero */
.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/img1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
  transform: translateX(-50%);
}

.nav-menu a:hover::after {
  width: 100%;
}

.nav-btn {
  background: #ff6b6bde;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

/* ハンバーガー */
.hamburger {
  display: none;
}

/* hero text */
.hero-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 28px;
  margin-bottom: 30px;
}

.cta-btn {
  width: 220px;
  text-align: center;
  background: #ff6b6bde;
  color: white;
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
}


/* ここからcontents */
.contents-title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  margin: 1em 0 1em 0;
}

.contents-title:before {
  content: "";
  border-bottom: solid 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-right: 20px;
  transform: translateY(2px);
}

.contents-title:after {
  content: "";
  border-bottom: solid 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-left: 20px;
  transform: translateY(2px);
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  width: 30%;
  flex-wrap: nowrap;
}

.feature-text {
  width: 60%;
  margin: 0 1em 0 1em;
}

.feature-text h5 {
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
}

.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000000;
  color: white;
  border: none;
}

.material-symbols-rounded {
  font-size: 40px;
}

.material-symbols-outlined {
  font-size: 40px;
}

/* price */
.price {
  text-align: center;
  padding: 50px;
  background: #f5f5f5;
}

.price-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.price-text-yen {
  color: #ff6b6b;
  font-weight: bold;
  margin-right: 10px;
}

/* contact */
.contact {
  text-align: center;
  padding: 50px;
  color: white;
  background:
    linear-gradient(rgba(255, 107, 107, 0.8), rgba(255, 107, 107, 0.8)),
    url("img/img1.jpg");
  background-size: cover;
  background-position: center;
}

.contact-btn {
  display: inline-block;
  margin-top: 20px;
  background: #f5f5f5e8;
  color: #ff6b6b;
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 30px;
}