/* スマホ */
@media screen and (max-width: 768px) {

    /* スクロールを禁止 */
    body.menu-open {
        overflow: hidden;
    }

    /* ハンバーガーメニュー */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
        z-index: 1000;
    }

    .hamburger span {
        width: 40px;
        height: 4px;
        background: white;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger.active :nth-child(1) {
        transform: translateY(7px) rotate(-45deg);
    }

    .hamburger.active :nth-child(2) {
        opacity: 0;
    }

    .hamburger.active :nth-child(3) {
        transform: translateY(-11px) rotate(45deg);
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        font-size: 1rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .nav-menu.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .nav-menu li {
        margin: 20px 0;
    }


    .nav-btn {
        display: none;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
}